#nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 3rem;
  align-items: center;
  background-color: lightblue;
}
#nav > h2 {
  background-color: yellow;
  padding: 5px 10px;
}
#nav_links {
  display: flex;
  gap: 30px;
}

#nav_links > span {
  border: none;
  outline: none;
  background-color: lightcoral;
  padding: 0.3rem 1.4rem;
  border-radius: 3px;
  box-shadow: 2px 2px 10px black;
}
